<h1>Welcome To Your Appointment Management System</h1>
<hr />
<%=link_to "View Doctors", doctors_path, class: "ui button green"%>
<%#=link_to "View Appointments", doctor_appointments_path(@doctor)%>
<%=link_to "View Patients", users_path, class: "ui button"%>
<%#=link_to "Make an Appointment", %>