<h1 style= "color:blue; text-shadow: 2px 2px 2px black;letter-spacing: 5px;"><%=@doctor.full_name%></h1>
<br />
<br />
<%= link_to "Appoinments", doctor_appointments_path(@doctor), class: "ui primary button inverted"%>
<%= link_to "Delete Doctor", doctor_path(@doctor), method: :delete, class: "ui red button inverted"%>