

<%= link_to "Add Appointment", new_doctor_appointment_path(@doctor)%>

<h2>Doctor</h2>
<ul>
<%@appointments.each do |a|%>
  <li>
    <%= a.user.full_name%>
    <br />
    <%= link_to "Remove", doctor_appointment_path(@doctor, a), method: :delete%>
  </li>
  
  <%end%>
</ul>



