<nav>

  <ul>
    <li>
      <%= link_to "Docs", doctors_path%>
    </li>
    <li>
      <%= link_to "New Doc", new_doctor_path%>
    </li>
    <li>
      <%= link_to "Patients", users_path%>
    </li>
    <li>
      <%= link_to "New Patient", new_user_path%>
    </li>
  </ul>
  
</nav>